// using Roboto in place of Helvetica-Neue because of licensing
@import url(https://fonts.googleapis.com/css?family=Roboto:400,900)

// generic variables

// any large value works for rounding border-radius
$round: 500px
$flat: 0px

// color palette

$blue1: #00479f
$grey1: #f5f5f5

$helveticaneue: "Helvetica Neue", "Roboto", Helvetica, sans-serif, Arial
$vscreen-xs: 620px

// bootstrap components

// round components by default
$small-border-radius:   $round
$base-border-radius:    $round
$large-border-radius:   $round

// bootstrap buttons

// ultra bold (when using Roboto)
$btn-font-weight: 900

$btn-primary-bg:        $blue1
$btn-primary-border:    $blue1

// bootstrap forms

$input-border: $blue1
$input-input-border-radius: 1px solid
$input-color: black
$input-color-placeholder: black

// bootstrap has to be imported after variable declarations for overrides
@import "../node_modules/bootstrap-sass/assets/stylesheets/bootstrap"

.btn
  width: 100%
  height: auto
  // bootstrap extensions
  @extend .center-block

.btn--flat
  border-radius: $flat
  // bootstrap extensions
  @extend .btn-default

.btn--app
  border-color: $grey1
  height: 130px
  width: 130px
  padding-top: 24px
  margin-top: 20px
  @media (max-width: $screen-sm) // {}
    width: 100% !important
    margin-top: 10px

.btn--app__img
  vertical-align: middle

.btn--app:hover
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2)
  background-color: white
  border-color: $grey1 !important

.btn--app:active
  box-shadow: 0 0 0
  background-color: $grey1 !important

.btn--app:focus
  border-color: $grey1 !important
  background-color: white

.login
  width: 100%
  max-width: 300px
  height: 55px
  border-radius: $round
  // bootstrap extensions
  @extend .center-block


.login--btn
  padding-bottom: 0px
  // login__text--btn: vertical-align fix
  display: table
  // bootstrap extensions
  @extend .btn
  @extend .btn-primary

.login__text
  font-family: $helveticaneue

.login__text--btn
  font-size: 18px
  padding-bottom: 2px
  vertical-align: middle
  // vertical-align fix
  display: table-cell

.login--form
  font-family: $helveticaneue
  background-repeat: no-repeat
  text-align: left
  font-size: 14px
  // placeholder/image position tweak
  padding-left: 49px
  padding-bottom: 5px
  background-position: 13px
  // bootstrap extensions
  @extend .form-control

.login--form--user
  background-image: url('../img/group-2.png')

.login--form--password
  background-image: url('../img/group.png')

.img
  // bootstrap extensions
  @extend .img-responsive
  @extend .center-block

.img--icon-bar
  @media (max-width: $screen-xs) // {}
    width: 300px
  @media (max-height: $vscreen-xs + 100px) // {}
    width: 300px

.img--banner
  max-width: 250px
  width: 100%
  height: auto

.text
  width: 100%
  font-family: $helveticaneue
  text-align: center

.text--help
  font-size: 13.5px
  color: $blue1

.text--copyright
  font-size: 13.5px
  color: black
  @media (max-width: $screen-xs) // {}
    font-size: 9.5px

.text--copyright__symbol
  font-size: 19px
  @media (max-width: $screen-xs) // {}
    font-size: 15px

.text--user
  text-align: center
  font-size: 17px
  color: black

.text--big
  font-weight: $btn-font-weight
  font-size: 20px

// an element that sticks to the bottom until a certain size is reached
.bottom
  width: 100%
  position: absolute
  bottom: 0
  left: 0
  right: 0
  @media (max-height: $vscreen-xs + 100px) // {}
    position: relative
    top: 0
  @media (max-width: $screen-sm) // {}
    position: relative
    top: 0

.vhide
  display: none

.vhide--xs
  display: block
  @media (max-height: $vscreen-xs) // {}
    display: none !important

$i: 0
@while $i <= 100
  $adj: $i * 1px
  .vhide--xs-#{$i}
    display: block
    @media (max-height: $vscreen-xs + $adj) // {}
      display: none !important
  $i: $i + 10

.vshow
  display: block

.vshow--xs
  display: none
  @media (max-height: $vscreen-xs) // {}
    display: block !important

$i: 0
@while $i <= 100
  $adj: $i * 1px
  .vshow--xs-#{$i}
    display: none
    @media (max-height: $vscreen-xs + $adj) // {}
      display: block !important
  $i: $i + 10

.bar-dummy
  padding-bottom: 52px

.bar-dummy--apps
  padding-bottom: 12px

.nav
  position: fixed
  right: 0
  top: 0

.nav__img
  margin: 20px 0px 0px 10px

.nav__img--large
  margin-right: 20px

.container--app
  max-width: 480px
  // bootstrap extensions
  @extend .container-fluid

// shake animation
@keyframes shake
  0%, 100%
    transform: translateX(0)
  20%, 60%
    transform: translateX(-8px)
  40%, 80%
    transform: translateX(8px)

.shake
  animation-duration: 0.5s
  animation-fill-mode: both
  animation-name: shake

.row
  height: 100%
  width: 100%
  // bootstrap extensions
  @extend .center-block

// remote focus rectangle
\:focus
  outline: 0 !important

html
  height: 100%
