<div class="container container--app">
    <div class="row"></div>
    <div class="row">
        <div class="vhide vhide--xs-100" style="margin-top: 35px"></div>
        <div class="vshow vshow--xs-100" style="margin-top: 10px"></div>
        <div class="col-sm-4">
            <a href="" class="btn btn--flat btn--app">
                <img src="img/interop.png" class="btn--app__img">
            </a>
        </div>
        <div class="col-sm-4">
            <a href="" class="btn btn--flat btn--app">
                <img src="img/phc.png" class="btn--app__img">
            </a>
        </div>
        <div class="col-sm-4">
            <a href="" class="btn btn--flat btn--app">
                <img src="img/immu.png" class="btn--app__img">
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <a href="" class="btn btn--flat btn--app">
                <img src="img/sentinel.png" class="btn--app__img">
            </a>
        </div>
        <div class="col-sm-4">
            <a href="" class="btn btn--flat btn--app">
                <img src="img/smart.png" class="btn--app__img">
            </a>
        </div>
        <div class="col-sm-4">
            <a href="" class="btn btn--flat btn--app">
                <img src="img/imms.png" class="btn--app__img">
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <a href="" class="btn btn--flat btn--app">
                <img src="img/myir.png" class="btn--app__img">
            </a>
        </div>
        <div class="col-sm-4">
            <a href="" class="btn btn--flat btn--app">
                <img src="img/oms.png" class="btn--app__img">
            </a>
        </div>
        <div class="col-sm-4">
            <a href="" class="btn btn--flat btn--app">
                <img src="img/voms.png" class="btn--app__img">
            </a>
        </div>
    </div>
    <div class="bar-dummy bar-dummy--apps"></div>
</div>

<div class="nav">
    <img src="img/help.png" class="nav__img">
    <img src="img/notifications.png" class="nav__img">
    <img src="img/apps.png" class="nav__img">
    <img src="img/jeff-small.png" class="nav__img nav__img--large">
</div>
