<div class="col-xs-10 col-xs-offset-1">
    <div class="vhide vhide--xs-50" style="margin-top: 178px"></div>
    <div class="vshow vshow--xs-50" style="margin-top: 26px"></div>
    <div ng-class="wrongPass">
        <input class="login login--form login--form--user" type="email" placeholder="EMAIL"></input>
        <input ng-keyup="passwordKeyUp ($event)" class="login login--form login--form--password" type="password" placeholder="PASSWORD" style="margin-top: 20px"></input>
    </div>
    <a href="#user" class="login login--btn" style="margin-top: 30px">
        <div class="login__text login__text--btn">NEXT</div>
    </a>
    <div class="text text--help" style="margin-top: 8px">
        <a href="">Need help?</a>
    </div>
    <div class="bar-dummy"></div>
</div>
