<div class="col-xs-12">
    <div class="vhide vhide--xs-50">
        <img src="img/jeff-med.png" class="img img--usr" style="margin-top: 52px"></img>
    </div>
    <div class="vshow vshow--xs" style="margin-top: 30px"></div>
    <div class="text text--user" style="height: 46px; margin-top: 30px; margin-bottom: 25px">
        <div class="text--big">Jeffery Aramini</div>
        jeff_aramini@ihealthsolutions.net
    </div>
</div>
<div class="col-xs-10 col-xs-offset-1">
    <div ng-class="wrongPass">
        <input ng-keyup="passwordKeyUp ($event)" class="login login--form login--form--password" type="password" placeholder="PASSWORD"></input>
    </div>
    <a href="#apps" class="login login--btn" style="margin-top: 30px">
        <div class="login__text login__text--btn">SIGN IN</div>
    </a>
    <div class="text text--help" style="margin-top: 8px; margin-bottom: 30px">
        <a href="">Need help?</a>
    </div>
</div>
